<link rel="shortcut icon" type="image/x-icon" href="{{ "images/favicon.ico" | relative_url }}">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<title>Sandesh's Machine Learning Journal</title>
<meta name="description" content="A Blog related to Machine Learning and Deep learning">
<meta property="og:title" content="Sandesh's Machine learning Journal" />
<meta property="og:url" content="https://sandeshkatakam.github.io/My-Machine_learning-Blog/" />
<meta property="og:description" content="A Blog related to Machine learning and Deep Learning">
<meta property="og:image" content="/images/mstile-150x150.png">
<meta property="og:type" content="article" />

