.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 70px;
    right: 150px;
    display: none;
    text-indent: -9999px;
    background: url('/images/scroll-to-top.png') no-repeat;
    background-color: #ffffff00;
}
